/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
  background: white;
}

.color-2 {
  background: yellow;
}

.color-3 {
  background: black;
}


/* Textures or Patterns*/
.pattern-1 {
  background-image: url()
}

.pattern-2 {
  background-color: gray;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 50px 50px;
}


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */