/***************/
/* YOUR STYLES */
/***************/

/*
Fonts
  Headings - Ubuntu - 700
 font-family: 'Ubuntu', sans-serif;
  Body Copy - Tinos - 400 or 700
 font-family: 'Tinos', serif;
*/


/* Color Palette */
.color-1 {
  background: white;
}

.color-2 {
  background: #ffea01;
}

.color-3 {
  background: black;
}


/* Icons */


/* Typography */
h1 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Tinos', serif;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Tinos', serif;
}


/* Forms */


/* Tables */


/* Cards */


/* Styles */
a,
li {
  text-decoration: none;
  list-style: none;
  font-family: 'Tinos', serif;
  color: black;
}
